* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


body {
    height: 100vh;
    position: relative;
    background-image: url('umbrellas.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 100%);
    font-weight: bold;
}

.white {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 30%);
}


/* .header {
    position: absolute;
    width: 100vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 70%);
} */

.title {
    position: absolute;
    color: rgba(255, 255, 255, 100%);
    top: 10%;
    left: 45%;
    /* padding: 10px; */
    /* text-align: left; */
    font-size: 60px;
}

.words-content {
    font-size: 40px;
    color: rgba(255, 255, 255, 100%);
    position: absolute;
    top: 30%;
    left: 13%;
    height: 60px;
}

.words {
    list-style: none;
}

.words li {
    float: left;
    /* margin-right: 150px; */
    padding-left: 75px;
    padding-right: 75px;
    /* border-left: 6px solid rgba(255, 255, 255, 100%); */

}

.second-word {
    border-left: 6px solid rgba(255, 255, 255, 100%)
}

.third-word {
    border-left: 6px solid rgba(255, 255, 255, 100%)
}

.buttons-content {
    position: absolute;
    top: 60%;
    left: 8%;
    height: 20px;
}

.buttons {
    list-style: none;
}

.buttons li {
    background-color: rgba(255, 255, 255, 50%);
    float: left;
    margin-right: 20px;
    border: 6px solid white;
}

a {
    color: rgba(255, 255, 255, 100%);
    font-size: 30px;
    padding: 15px;
    width: 40vw;
    line-height: 60px;
    text-decoration: none;
    display: block;
    text-align: center;

}

/* .buttons li:hover {
    border: 6px solid white;
} */